<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>uninoten</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% block style %}{% endblock style %}
    <link rel="stylesheet" href="{{ CONST.url }}static/style.css">
</head>
<body>
    {% include "navbar.html" %}
    <div class="outer">
        {% block content %}
            <p>Default content to be displayed</p>
        {% endblock content %}
    Bei Interesse oder Lust etwas mit einzupflegen <a href="https://github.com/paulwuertz/uninoten">hier das Repo...</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
</body>
</html>
