{% extends "base.html" %}

{% block content %}

<div id="cont" class="col-md-12 col-md-12 col-xs-12">
    <div id="pHead" class="panel-heading">
        <h3 class="panel-title">Willkommen!</h3>
    </div>
    <div id="placeholder" class="panel panel-default active">
          <div class="panel-heading"><h3>Berechne deine Noten</h3></div>
          <div class="panel-body">
                Wähle oben in der Adressleiste deine Studienrichtung aus und regle nur in den Fächern deine Noten ein, die du schon bestanden hast.
                Aus den bereits bestandenen Fächern wird dann das Gewichtete Zwischenergebniss berechnet und der Rest der Fächer ignoriert.

                Bis jetzt müssten folgende Fächer richtig konfiguriert sein:
          <ul>
                <li><a href="http://www.p4w5.eu/noten/et_gs">Elektrotechnik - Grundstudium</a>
                  <ul>
                        <li><a href="http://www.p4w5.eu/noten/et_it">Hauptstudium - Informationstechnik</a></li>
                        <li><a href="http://www.p4w5.eu/noten/et_mel">Hauptstudium - Mikroelektronik</a></li>
                        <li><a href="http://www.p4w5.eu/noten/et_eet">Hauptstudium - Elektroenergietechnik</a></li>
                        <li><a href="http://www.p4w5.eu/noten/et_amr">Hauptstudium - Automatisierungstechnik</a></li>
                        <li><a href="http://www.p4w5.eu/noten/et_gmm">Hauptstudium - Geräte- und Medizintechnik</a></li>
                  </ul>
                </li>
                <li><a href="http://www.p4w5.eu/noten/ist_gs">Informationssystemtechnik - Grundstudium</a></li>
                <li><a href="http://www.p4w5.eu/noten/psy_ba">Psychologie - Bachlor</a></li>
          </ul>
          </div>
    </div>
</div>

{% endblock content %}
